
body#loginPage header{
    position: absolute;
    left: 0;
    top: 5%;
    height: 100px;
    width: 100%;
    background: #3b5998 url('../img/logo.jpg') no-repeat 50px 10px;
    background-size: 20% 80%;
    border-bottom: 1px solid #133783;
}

#formulaire{
    margin-top: 15%;
    margin-left: 30%;
    margin-right: 30%;
}

body#loginPage{
    margin: 0;
    padding: 0;
    font-family: 'lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
    color: hsl(236, 30%, 72%);
}

body#loginPage section#content{
    position: absolute;
    top: 150px;
    left: 50%;
    width: 500px;
    margin: 0 0 0 -250px;
    padding: 0;
}

form label{
    display: inline;
    width: 100px;
    float: left;
    text-align: right;
    padding: 4px 10px 0 0;
    font-size: 100%;
}

form input[type="email"], form input[type="text"], form input[type="password"]{
    display: block;
    width: 250px;
    height: 25px;
    padding: 2px;
}

form input[type="submit"]{
    margin: 0 20px 0 160px;
    border-style: solid;
    border-width: 1px;
    border-color: #d9dfea #0e1f5b #0e1f5b #d9dfea;
    background-color: #3b5998;
    color: #FFFFFF;
    padding: 2px 15px 3px 15px;
    text-align: center;
}

a{
    color: #3b5998;
}

ul.errorlist{
    margin-left: 30%;
    padding: 0;
    list-style-type: none;
    color: #d23d24
}

body#loginPage section#content {
    position: absolute;
    top: 150px;
    left: 50%;
    width: 500px;
    margin: 0 0 0 -250px; 
    padding: 0;
}

body section#content
{
    position: absolute;
    top: 110px;
    left: 50%;
    width: 500px;
    margin: 0 0 0 -250px;
    padding: 0;
}

body#loginPage section#content
{
    top: 150px;
}

h1 {
    text-align: center;
    font-size: 22px;
    margin: 0px 60px 30px 60px;
    padding: 0 0 5px 0;
    color: #3b5998;
    border-bottom: 1px solid #3b5998;
}

/* concerne la page welcome */
body#welcomePage header{
    background: #3b5998 url('../img/trombi.png') no-repeat 10px 10px ;
    color: #FFFFFF; 
    height: 70px;
    background-size: 50px 50px;
}

body#welcomePage header p#name {
    font-size: 30px;
    margin: 20px 0 0 70px;

}

body#welcomePage header p#function{
    margin: 0 0 0 70px;
}

#welcomePage header p#profileLinks {
    position: absolute;
    right: 40px;
    top: 25px;
}

a.buttonLink {
    border-style: solid;
    border-width: 1px;
    border-color: #d9dfea #0e1f5b #0e1f5b #d9dfea;
    background-color: #3b5998;
    color: #FFFFFF;
    padding: 2px 15px 3px 15px;
    text-align: center;
    text-decoration: none;
}

body#welcomePage section#content{
    width: 800px;
    margin: 0 0 0 -400;
}

body#welcomePage section#messageList{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: burlywood;
}

body#welcomePage section#friendList{
    position: absolute;
    width: 200px;
    right: 0;
    background-color: yellow;
}

/*présentation des messages*/
form.inlineForm label{
    display: inline;
    float: none;
    padding: 0;
}

form.inlineForm input[type="text"] {
    display: inline-block;
    width: 150px;
}

form.inlineForm input[type="submit"] {
    margin: 0;
}

section#messageList ul {
    margin: 20px 0 0 0;
    list-style: none;
    padding: 0;
}

section#messageList ul li p {
    margin: 8px 0 0 0;
}

section#messageList ul li {
    background-color: burlywood;
}
/*formatage de la liste d'amis */

body#welcomePage section#friendList {
    position: absolute;
    width: 180px;
    right: 0;
    padding: 10px;
    background-color: #DCE0ED;
}

section#friendList p.title {
    font-size: 22px;
    color: #3b5998;
    border-bottom: 1px solid #3b5998;
    margin: 0 0 20px 0;
}

section#friendList ul {
    margin: 20px 0 0 0;
    list-style: none;
    padding: 0;
}

section#friendList ul li {
    margin: 0 0 5px 0;
}

/*style sur l'affichage du profil utilisateur*/
dl.fieldList dt {
    display: block;
    width: 250px;
    float: left;
    text-align: right;
    padding: 0 10px 0 0;
    font-weight: bold;
}

dl.fieldList dd {
    display: block;
    width: 450px;
    padding: 0px;
    margin: 0 0 10px 0;

}

p#showProfileNavigationButtons {
    margin: 20px 0 0 260px;
}